<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.ed.dao.EdAppResponseParamMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.ed.model.EdAppResponseParam" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ED_APPLICATION_RESPONSE_PARAM
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.ed.model.EdAppResponseParam" >
    update ED_APPLICATION_RESPONSE_PARAM
    set SEQ = #{seq,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIBE = #{describe,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, SEQ, NAME, DESCRIBE, APP_ID
    from ED_APPLICATION_RESPONSE_PARAM
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, SEQ, NAME, DESCRIBE, APP_ID
    from ED_APPLICATION_RESPONSE_PARAM
    order by SEQ asc
  </select>

  <insert id="addEdAppResponseParam" parameterType="com.hex.bigdata.udsp.ed.model.EdAppResponseParam" >
    insert into ED_APPLICATION_RESPONSE_PARAM (PK_ID, SEQ, NAME,
    DESCRIBE, APP_ID)
    values (#{pkId,jdbcType=VARCHAR}, #{seq,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR},
    #{describe,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR})
  </insert>
  <select id="getEdAppResponseParamByAppId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, SEQ, NAME, DESCRIBE, APP_ID
    from ED_APPLICATION_RESPONSE_PARAM
    where APP_ID = #{appId,jdbcType=VARCHAR}
    order by SEQ asc
  </select>
  <delete id="deleteEdAppResponseParamByAppId" parameterType="java.lang.String" >
    delete from ED_APPLICATION_RESPONSE_PARAM
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </delete>
</mapper>